/* You can add global styles to this file, and also import other style files */
.boton-margen {
  margin-right: 20px;
}
.margen-inferior-header {
  margin-bottom: 50px;
}
.margen-inferior {
  margin-bottom: 20px;
}
