<div class="card h-100 animated fadeIn fast">
  <img src="{{ hero.img }}" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ hero.nombre }}</h5>
    <p class="card-text">
      {{ hero.bio | substring100 }}
    </p>
    <div class="d-grid">
      <button
        class="btn btn-sm btn-block btn-outline-primary"
        (click)="verHeroe()"
      >
        Ver mas...
      </button>
    </div>
  </div>
  <div class="card-footer text-center">
    <!-- <small class="text-muted ">{{ hero.aparicion | date:"dd/MM/yyyy"}}</small> -->
    <small class="text-muted ">{{ (hero.aparicion | date:'fullDate':'es')! | capitalize:true:['de'] }}</small>
  </div>
</div>
